<h1>Welcome, <%= current_user.first_name%>!</h1>

<%= link_to 'Add Activity', new_activity_path %>
<%= link_to 'Add Category', new_category_path %>
<%= link_to 'My Activities', activities_path %>
<%= link_to 'My Categories', categories_path %>
<%= link_to 'My Activity Log', '#' %>
<div>
<% if @activities.nil? %>
  <p>You haven't added any activities yet.</p>
  <p>Click <%= link_to 'here', new_activity_path %> to start adding activities.</p>
<% else %>
  <%= simple_form_for @activity_session do |f| %>
    <p>I have <%= f.input :time_available, label: false %> minutes.</p>
    <p><%= f.submit 'Give me something to do!' %></p>
  <% end %>
<% end %>
</div>
