<div class="row">
  <div class="small-5 columns centered">
    <h2>Welcome, <%= current_user.first_name%>!</h2>
  </div>
</div>

<div class="row form">
  <div class="small-5 columns centered">
    <% if current_user.activities.blank? %>

      <div>
        <p>You haven't added any activities yet.</p>
        <p>Click <%= link_to 'here', new_activity_path %> to start adding activities.</p>
      </div>

    <% else %>

      <div class="form new-activity-session">
        <%= simple_form_for @activity_session do |f| %>
          <div class="inline">I have</div>
          <div class="inline"><%= f.input :time_available, label: false, as: :string, error: false %></div>
          <div class="inline">minutes.</div>
          <div><%= f.submit 'Give me something to do!', class: 'radius button' %><div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
