<div class="row">
  <div class="small-8 columns centered">
    <h2 class="about-us-header1">Hi, I'm Helen!</h2>
    <h3 class="about-us-header2 left">Thanks for checking out my app.</h3>
    <div class="">
      <%= image_tag("helen.jpg", class: "profile-pic") %>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-8 columns centered">
    <p>TimeCatcher is an app I created in January 2014 as an apprentice developer at <%= link_to 'Launch Academy', 'http://www.launchacademy.com/', target: '_blank' %>, a Boston-based Ruby on Rails bootcamp.</p>
    <p>A cornerstone of Launch's curriculum is the "breakable toy," a project that each Launcher takes from the seed of an idea to a fully-functional Rails app.  This site is mine.</p>
    <p>Want to know more about me?  Check me out on <%= link_to 'LinkedIn', 'http://www.linkedin.com/in/helenhood', target: '_blank' %>, <%= link_to 'GitHub', 'https://github.com/hchood', target: '_blank' %>, and <%= link_to 'Twitter', 'https://twitter.com/hchood', target: '_blank' %>, or feel free to contact me via the <%= link_to 'Contact Us', new_contact_path %> page on this site.  I'm also blogging about web development and other things <%= link_to 'here', 'http://adeepbreathandaleap.wordpress.com/', target: '_blank' %>.</p>
  </div>
</div>
