<div class="row">
  <div class="small-5 columns centered">
    <h2>Sign In</h2>
  </div>
</div>

<div class="row form devise">
  <div class="small-5 columns centered">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <div><%= f.input :email, :autofocus => true, label: false, placeholder: 'Email address' %></div>

      <div><%= f.input :password, label: false, placeholder: 'Password' %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> </div>
        <div><%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign In", class: 'radius button' %></div>
    <% end %>
</div>

<%= render "devise/shared/links" %>
