<h1>Welcome, <%= current_user.first_name%>!</h1>

<%= link_to 'Add Activity', new_activity_path %>
<%= link_to 'Add Category', new_category_path %>
<%= link_to 'My Activities', activities_path %>
<%= link_to 'My Activity Log', '#' %>

