<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="bg">

    <div>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">TimeCatcher</a></h1>
          </li>
          <li class="toggle-topbar menu-icon">
            <h1><a href="/"><span></span></a></h1>
          </li>
        </ul>

        <section class="top-bar-section">

          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li class="active"><%= link_to 'About Us', '#' %></li>
            <li class="divider"></li>
            <li class="active"><%= link_to 'Contact Us', new_contact_path %></li>
            <% if current_user %>
              <li class="divider"></li>
              <li class="active"><%= link_to 'My Account', edit_user_registration_path %></li>
              <li class="divider"></li>
              <li class="active"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="divider"></li>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <% end %>
          </ul>

          <!-- Left Nav Section -->
          <% if current_user %>
          <ul class="left">
            <li class="has-dropdown">
              <a href="#">Menu</a>
              <ul class="dropdown">
                <li><%= link_to 'Add Activity', new_activity_path %></li>
                <li><%= link_to 'Add Category', new_category_path %></li>
                <li><%= link_to 'My Activities', activities_path %></li>
                <li><%= link_to 'My Categories', categories_path %></li>
                <li><%= link_to 'My Activity Log', activity_sessions_path %></li>
              </ul>
            </li>
          </ul>
          <% end %>

        </section>
      </nav>
    </div>

    <div class="row">
      <div class="small-6 columns centered">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
