<!DOCTYPE html>
<html>
<head>
  <title>TimeCatcherCapybara</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Welcome to TimeCatcher!</h1>

<nav>
  <ul>
    <li><%= link_to 'About Us', '#' %></li>
    <li><%= link_to 'Contact Us', new_contact_path %></li>
    <li><%= link_to 'Back', :back %></li>
  </ul>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<% if current_user %>
  <p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
  <p><%= link_to 'My Account', edit_user_registration_path %></p>
<% end %>

</body>
</html>
